<!DOCTYPE html>
<html>
<head>
  <title>Bg</title>
  <%= stylesheet_link_tag    "bg/application", media: "all" %>
  <%= javascript_include_tag "bg/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
